.container {
  padding: 4.8rem 2.4rem;
}

.logoContainer {
  text-align: center;
  margin-bottom: 5.8rem;
}

.form {
  padding: 2.4rem 2.4rem 3.2rem;
  background-color: var(--darkBlue);
  border-radius: 1rem;
  max-width: 40rem;
  margin: auto;
}

.title {
  color: var(--white);
  font-size: 3.2rem;
  font-weight: 300;
  letter-spacing: -0.5px;
  line-height: 4rem;
  margin-bottom: 1.6rem;
}

.input {
  background-color: inherit;
  border: none;
  padding: 2.4rem 1.6rem 1.7rem;
  border-bottom: 1px solid var(--grey);
  width: 100%;
  font-size: 1.5rem;
  color: var(--white);
  outline: none;
  caret-color: #FC4747;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.input:focus {
    border-bottom: 1px solid var(--white);
}

.button {
  width: 100%;
  background-color: var(--red);
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.9rem;
  border: none;
  margin-top: 4rem;
  margin-bottom: 2.4rem;
  padding: 1.4rem 0;
  border-radius: 0.6rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.9rem;
  font-size: 1.5rem;
  font-weight: 300;
}

.message {
  color: var(--white);
}

.action {
  color: var(--red);
}

.none {
  display: none;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 8.8rem 0rem;
  }
  .logoContainer {
    margin-bottom: 7.2rem;
  }
  .form {
    padding: 3.2rem;
  }
}

@media screen and (min-width: 1440px) {
    .container {
      padding: 7.8rem 0rem;
    }
    .logoContainer {
      margin-bottom: 8.2rem;
    }

    .logoContainer:hover {
        cursor: pointer;
      }
    .button:hover {
        color: var(--black);
        background-color: var(--white);
        cursor: pointer;
    }
    .action:hover{
        cursor: pointer;
    }
  }
  
