.header {
    background-color: var(--darkBlue);
    padding: 1.8rem 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerWrapper {
    position: fixed;
    z-index: 99;
    width: 100%;
}

.list {
    display: flex;
    gap: 2.4rem;
}

.avatar {
    width: 24px;
    height: 24px;
}

.listItem {
    width: 16px;
    height: 16px;
}

.logo {
    width: 25px;
}

@media screen and (min-width:768px) {

    .headerWrapper {
        padding: 2.4rem 2.4rem 0;
        background-color: var(--black);
    }

    .header {
        padding: 2.4rem 2.4rem 2.2rem;
    }

    .logo, .listItem {
        width: auto;
    }

    .avatar {
        width: 32px;
        height: 32px;
    }
}

@media screen and (min-width:1440px) {

    .headerWrapper {
        position: relative;
        width: auto;
        padding: 0;
    }

    .header {
        height: 96rem;
        padding: 3.5rem 3.2rem;
        flex-direction: column;
    }

    .list {
        flex-direction: column;
        position: absolute;
        top: 136px;
        gap: 4rem;
    }

    .avatar {
        width: 40px;
        height: 40px;
    }

    .listItem:hover {
        cursor: pointer;
        filter: brightness(0) saturate(100%) invert(58%) sepia(57%) saturate(6669%) hue-rotate(333deg) brightness(97%) contrast(106%);
    }
}