.input {
    width: 100%;
    background-color: inherit;
    border: none;
    outline: none;
    font-size: 1.6rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    padding-left: 4rem;
    position: relative;
    caret-color: #FC4747;
}

.form {
    margin-bottom: 2.6rem;
    position: relative;
}

.imageContainer {
    position: absolute;
    top: -4px;
    width: 24px;
    height: 24px;
}

.input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 768px) {
    .form {
        margin-bottom: 3.2rem;
    }

    .input {
        font-size: 2.4rem;
        padding-left: 5.6rem;
    }

    .imageContainer {
        top: -2px;
        width: 32px;
        height: 32px;
    }
  }