:root {
  --black: #10141e;
  --white: #ffffff;
  --grey: #5a698f;
  --darkBlue: rgb(22, 29, 47);
  --red: #fc4747;
}

html,
body {
  font-family: "Outfit", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: var(--black);
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  padding: 8rem 1.6rem 6rem;
  width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.videos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.6rem 1.5rem;
}

.header {
  color: var(--white);
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: -0.31px;
  font-weight: 300;
  margin-bottom: 2.4rem;
}

.trendingRow {
  position: absolute;
  z-index: 89;
  bottom: 1.6rem;
  left: 1.6rem;
}

.videos-trending {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 2.4rem;
  overflow-x: scroll;
}

.media-container {
  width: 100%;
  height: 29.5vw;
  max-height: 220px;
}

.media-container-trending {
  width: 64vw;
  height: 37.5vw;
  max-width: 94rem;
  max-height: 46rem;
}

.toprow {
  font-size: 1.1rem;
}

.toprow-trending {
  font-size: 1.2rem;
}

.bottomrow {
  font-size: 1.4rem;
}

.bottomrow-trending {
  font-size: 1.5rem;
}

.bookmarkWarning {
  color: var(--white);
  text-align: center;
  font-size: 1.8rem;
  width: 80%;
  margin: auto;
  padding-top: 2rem;
  font-weight: 300;
}

.header-fix {
  margin-top: 2rem;
}

.overlay::after {
  content: '';
  display: block;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 888;
  background-color: rgba(0, 0, 0, 0.7);
}

.dotWindmillContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  display: flex;
  justify-content: center;
}

.dotWindmill {
  position: relative;
  top: -10px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--white);
  transform-origin: 5px 15px;
  animation: dotWindmill 2s infinite linear;
}

.dotWindmill::before, .dotWindmill::after {
  content: '';
  display: inline-block;
  position: absolute;
}

.dotWindmill::before {
  left: -8.66px;
  top: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--white);
}

.dotWindmill::after {
  left: 8.66px;
  top: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--white);
}

@keyframes dotWindmill {
  0% {
    transform: rotateZ(0deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotateZ(720deg) translate3d(0, 0, 0);
  }
}

.fade-slide-enter-active {
  animation: openModal 100ms ease ;
}

.fade-slide-exit-active {
  animation: closeModal 500ms ease ;
}

@keyframes openModal {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 0.25;
  }
  100% {
      opacity: 0.5;
  }
}

@keyframes closeModal {
  0% {
      opacity: 0.5;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 0;
  }
}

@media screen and (min-width: 768px) {

  main {
    padding: 12.8rem 0 5.6rem 2.4rem;
  }

  .videos {
    grid-template-columns: repeat(3, 1fr);
    gap: 2.4rem 2.9rem;
    padding-right: 2.4rem;
  }

  .media-container {
    height: 18.23vw;
    max-height: 300px;
  }

  .header {
    font-size: 3.2rem;
    line-height: 4rem;
  }

  .bottomrow {
    font-size: 1.8rem;
  }

  .toprow {
    font-size: 1.3rem;
  }

  .media-container-trending {
    width: 61.2vw;
    height: 30vw;
  }

  .videos-trending::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }

  .videos-trending::-webkit-scrollbar-track {
    background: inherit;        /* color of the tracking area */
  }
  
  .videos-trending::-webkit-scrollbar-thumb {
    background-color: var(--grey);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 5px solid var(--black);  /* creates padding around scroll thumb */
  }

}

@media screen and (min-width: 1440px) {
  .page {
    padding: 3.2rem 0 5.2rem 3.2rem;
    display: flex;
    gap: 3.6rem;
    max-width: 198rem;
    margin: auto;
  }

  main {
    padding: 3.2rem 0 0;

  }

  .videos {
    grid-template-columns: repeat(4, 1fr);
    gap: 3.2rem 4rem;
    padding-right: 3.6rem;
  }

  .media-container {
    height: 12.1vw;
  }

  .header {
    margin-bottom: 3.2rem;
  }

  .media-container-trending {
    width: 32.6vw;
    height: 16vw;
  }
}
